---
import Button from "./ui/button.astro";
---

<form
  action="https://formsubmit.co/13e1273f5b7a4c1bb177d4b64550c7f8" 
  method="POST"
  id="contact-form"
  class="needs-validation"
  novalidate>
  
  <!-- Dynamic Thank You Redirect -->
  <input type="hidden" name="_next" id="next-url" />
  
  <input type="hidden" name="_captcha" value="false" />

  <div class="mb-5">
    <input
      type="text"
      name="name"
      placeholder="Full Name"
      required
      class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    />
    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
      Please provide your full name.
    </div>
  </div>

  <div class="mb-5">
    <input
      type="email"
      name="email"
      placeholder="Email Address"
      required
      class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    />
    <div class="empty-feedback text-red-400 text-sm mt-1">
      Please provide your email address.
    </div>
    <div class="invalid-feedback text-red-400 text-sm mt-1">
      Please provide a valid email address.
    </div>
  </div>

  <div class="mb-3">
    <textarea
      name="message"
      required
      placeholder="Your Message"
      class="w-full px-4 py-3 border-2 placeholder:text-gray-800 rounded-md outline-none h-36 focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
    ></textarea>
    <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
      Please enter your message.
    </div>
  </div>

  <Button type="submit" size="lg" block>Send Message</Button>
</form>

<style>
  .invalid-feedback,
  .empty-feedback {
    display: none;
  }

  .was-validated :placeholder-shown:invalid ~ .empty-feedback {
    display: block;
  }

  .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
    display: block;
  }

  .is-invalid,
  .was-validated :invalid {
    border-color: #dc3545;
  }
</style>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("next-url").value = window.location.origin + "/thank-you";
  });

  const form = document.getElementById("contact-form");
  form.addEventListener("submit", function () {
    form.classList.add("was-validated");
  });
</script>
