---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import '@fontsource-variable/bricolage-grotesque';

export interface Props {
  title: string;
  description?: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

// Use props if available, otherwise fallback to default values
const { title, description, image } = Astro.props;

const makeTitle = title
  ? `${title} | Xclusive`
  : "RJB Xclusive - RJB Digital Company - Where Creativity Meets Strategy";

const resolvedImageWithDomain = image
  ? new URL(image, Astro.site).toString()
  : new URL("/opengraph.jpg", Astro.site).toString();
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <SEO
      title={makeTitle}
      description={description || "RJB Xclusive: Experts in web and mobile app development, digital marketing, and Web 3.0 solutions."}
      canonical={canonicalURL}
      twitter={{
        creator: "@surjithctly",
        site: "@web3templates",
        card: "summary_large_image",
      }}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: "article",
          title: makeTitle,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "RJB Digital Company Homepage Screenshot",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
